extends layout

block links
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
    script(src="https://www.google.com/jsapi", type="text/javascript")
    script.
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.setOnLoadCallback(drawChart);

      function drawChart(){
          var data = !{JSON.stringify(pieRegisterData)};
          data = google.visualization.arrayToDataTable(data);
          var chart = new google.visualization.PieChart(document.getElementById('pieRegister'));
          chart.draw(data, {title: "Facebook vs Instagram", is3D: true});
          
          var langdata = !{JSON.stringify(pieFrEnData)};
          langdata = google.visualization.arrayToDataTable(langdata);
          var chartlang = new google.visualization.PieChart(document.getElementById('pieLang'));
          chartlang.draw(langdata, {title: "FR vs US", is3D: true}); 

          var optindata = !{JSON.stringify(pieOptinData)};
          optindata = google.visualization.arrayToDataTable(optindata);
          var chartoptin = new google.visualization.PieChart(document.getElementById('pieOptin'));
          chartoptin.draw(optindata, {title: "Optin Yes vs No", is3D: true}); 
      }
block content
    div.wrap.container
        div.page-header
            h1 Stats <small>WeAreFreeMerci</small>
        
        div.panel.panel-default
            div.panel-heading Statiques
            table.table.condensed.bordered
                tr
                    th Type
                    th Nb
                tr
                    td Nb utilisateurs
                    td #{users.length}
                tr
                    td > facebook
                    td #{fbCount}
                tr
                    td > instagram
                    td #{instaCount}
                tr
                    td #wearefreemerci
                    td #{frCount}
                tr
                    td #youarewelcomeparis
                    td #{enCount}
                tr
                    td Nb votes
                    td #{votesCount}
                tr
                    td Nb Optin
                    td #{optinCount}
        div.panel.panel-default
            div.panel-heading Graphs
            div.panel-body
                div#pieRegister
                div#pieLang
                div#pieOptin
        
